[user]
	name = Garrett Julaka

[commit]
	verbose = true
	gpgsign = true

[core]
	editor = nvim
	pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  light = false
	side-by-side = true
	line-numbers = true

[merge]
  ; conflictstyle = zdiff3
	tool = nvim

[push]
	autoSetupRemote = true
	
[rebase]
	autosquash = true

[rerere]
	enabled = true
